html
    head
        title Course Registration System
    body
        h1 Gurukul: Course Registration System
        h3 These are the courses available!
        br
        each course in result.courses
            h4= course.name + ' (' + course.id + ')'
            ul
                li= 'Credits: ' + course.credits
                li= 'Duration: ' + course.duration
                li= 'Start Date: ' + course.date
                li= 'Current Status:' + course.status
                li= 'Students enrolled: ' + course.enrolled
            a(href='/enroll/' + result.id + '/' + course.id)
                button Enroll in this course
            hr